/* ---------------------------------DONDE ESTOY--------------------------------------- */

.subtituloDE {
    @include subtitulos;
  }
  
  .mainDE {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  
  main article p {
    @extend .formulario;
    color: map-get($coloresContacto, colorLetra );
  }
  
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    width: 700px;
    height: 550px;
    background-color: #1A374D;
  }
  
  .footerDE {
    background-color: #6998AB;
    height: 8%;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    text-align: center;
    clear: both;
  }

  @media only screen and (max-width: 450px) {
    
    .mainDE{
      display: flex;
      position: relative;
      div article{
        top: 0;
      }
    }
    
    .map{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4%;
      width: 400px;
      height: 250px;
      background-color: transparent;
    }    
  }