/* ---------------------------------QUIEN SOY--------------------------------------- */
.subtituloQS{
    @include subtitulos;
}
.fotoCv{
    border-radius: 40%;
    height: 300px;
    
}

.acordeon1{
    margin-bottom: 2%;
}

.descarga{
    display: flex;
}

.botonDescarga{
    text-align: end;
    margin-right: 17%;
    margin-bottom: 3%;
}

.btn2{
    @include botones;
    justify-content: end;
    margin-bottom: 2%;
    text-decoration: none;
}

.intro2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 35, 66);
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    border: 1px solid rgb(26, 26, 100);
    border-radius: 15px;
    
}

@media only screen and (max-width: 450px) {
    .intro2{
        margin-bottom: 3%;
    }
}

footer{
    z-index: 10000;
    position: relative;
    bottom: 0;
}

.footerDE {
    background-color: #6998AB;
    height: 8%;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    text-align: center;
    clear: both;
}