/* ---------------------------------TRABAJOS--------------------------------------- */
.subtituloMT{
    @include subtitulos;
}


#carouselExampleCaptions2{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;

    .carousel-item{
        height: 600px;
    }
}

.infoGit{
    margin-top: 2%;
    position: relative;
    display: flex;
}

.infoGit section{
    justify-content: center;
}

@media only screen and (max-width: 450px) {
    
    main img{
        margin-top: 80%;
    }
}