    * {
    margin: 0;
    padding: 0;
    
    }
    
    :root {
    --animate-delay:0.5s;
    }

    body {
        background-color: $colorPrincipal;
        background: linear-gradient(to bottom, #1A374D, #4b6cb7);
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


    $coloresContacto:(
        colorBoton: rgb(50, 31, 102),
        colorLetra: #fff);

    @mixin subtitulos{
        display: flex;
        justify-content: start;
        margin-left: 10%;
        margin-top: 2%;
        font-family: 'Shadows Into Light', cursive;
        font-size: 45px;
        color: $colorTitulos;
    }
    
    .idioma{
        width: 32px;
        height: 32px;
        margin-left: 1rem;
    }

/* ---------------------------------ARRIBA GENERAL--------------------------------------- */
